    <ng-container *ngIf="tile.component === 'BoxAComponent'">
        <app-box-a> </app-box-a>
    </ng-container>

    <ng-container *ngIf="tile.component === 'BoxBComponent'">
        <app-box-b> </app-box-b>
    </ng-container>

    <ng-container *ngIf="tile.component === 'BoxCComponent'">
        <app-box-c> </app-box-c>
    </ng-container>

    <ng-container *ngIf="tile.component === 'BoxDComponent'">
        <app-box-d> </app-box-d>
    </ng-container>

    <ng-container *ngIf="tile.component === 'BoxEComponent'">
        <app-box-e> </app-box-e>
    </ng-container>

    <ng-container *ngIf="tile.component === 'BoxFComponent'">
        <app-box-f> </app-box-f>
    </ng-container>

    <ng-container *ngIf="tile.component === 'BoxGComponent'">
        <app-box-g> </app-box-g>
    </ng-container>

    <ng-container *ngIf="tile.component === 'BoxHComponent'">
        <app-box-h> </app-box-h>
    </ng-container>
