<!--
<app-sidenav></app-sidenav>
<app-topbar></app-topbar>
<p class="colored-text">test colors with the text</p>
<!-- <iconify-icon icon="feather:check-square"></iconify-icon> - ->

<router-outlet></router-outlet>

-->


<div class="wrapper web-wrapper" *ngIf="platform=='web'">
    <app-sidenav [platform]="platform"></app-sidenav>


    <!--Top menu -->
    <div class="section app-topbar">
        <app-topbar [platform]="platform"></app-topbar>
    </div>

    <div class="section app-body">
        <router-outlet></router-outlet>
    </div>


</div>


<div class="wrapper tablet-wrapper" *ngIf="platform=='tablet'">

    <!--Top menu -->
    <div class="section app-topbar tablet-topbar">
        <app-topbar [platform]="platform"></app-topbar>
    </div>

    <div class="section app-body tablet-body">
        <router-outlet></router-outlet>
    </div>


</div>


<div class="wrapper mobile-wrapper" *ngIf="platform=='mobile'">

    <!--Top menu -->
    <div class="section app-topbar mobile-topbar">
        <app-topbar [platform]="platform"></app-topbar>
    </div>

    <div class="section app-body mobile-body">
        <router-outlet></router-outlet>
    </div>


</div>


