
:host{
    --blue: #1e90ff;
    --white: #ffffff;
  
    --background: #161d31;
    --foreground: #283046;
    --shopping-cart-counter-background: #7367f0;
    --shopping-cart-item-hover: #161D31;
    --text: #d0d2d6;
    --icon: #b4b7bd;
    --star-icon: #ff9f43;
    --item-count-background: rgba(255,159,67,.12);
    --circle1-text: #b2c0c3;
    --circle1-background: rgb(255,255,255,.12);
    --circle2-text: #00cfe8;
    --circle2-background: rgba(0,207,232,.12);
    --circle3-text: #ea5455;
    --circle3-background: rgba(234,84,85,.12);
    --circle4-text: #28c76f;
    --circle4-background: rgba(40,199,111,.12);
    --new-text: #28c76f;
    --new-background: rgba(40,199,111,.12);
  }